attrs==25.4.0
babel==2.17.0
backrefs==6.1
beautifulsoup4==4.14.3
bracex==2.6
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cli_exit_tools==1.2.7
click==8.2.1
colorama==0.4.6
cssselect2==0.8.0
defusedxml==0.7.1
ghp-import==2.1.0
idna==3.11
igittigitt==2.1.5
Jinja2==3.1.6
lib_detect_testenv==3.0.1
Markdown==3.10
markdown-exec==1.12.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-file-filter-plugin==0.2.0
mkdocs-get-deps==0.2.0
mkdocs-literate-nav==0.6.2
mkdocs-markmap==2.5.2
mkdocs-material==9.7.1
mkdocs-material-extensions==1.3.1
mkdocs-roamlinks-plugin==0.3.2
packaging==25.0
paginate==0.5.7
pathspec==1.0.3
pillow==12.1.0
platformdirs==4.5.1
pycparser==2.23
Pygments==2.19.2
pymdown-extensions==10.20
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==0.1
requests==2.32.5
rich==14.2.0
rich-click==1.9.5
schema==0.7.8
six==1.17.0
soupsieve==2.8.1
tinycss2==1.5.1
typing_extensions==4.15.0
urllib3==2.6.3
watchdog==6.0.0
wcmatch==10.1
webencodings==0.5.1
